<!--
Original Author: Hendrik
Category: Security
-->

# Dependency Hash Verification

**Original Item:** "Extension for dependency definition in POM to add hash to a dependency that will be checked at buildtime to make bad dependency injection not possible (Hendrik)"

## Problem Statement

TODO

## Current State / Starting Point

TODO

## Expected Outcomes / Benefits

TODO
